<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">
  <h1>Shop Cart</h1>
  <p class="text-main">
    Total Price : {{ cartDetails.totalCartPrice | currency : " EGP " }}
  </p>

  <div
    class="row align-items-center border-bottom py-2"
    *ngFor="let item of cartDetails.products"
  >
    <div class="col-md-2">
      <img class="w-100" [src]="item.product.imageCover" alt="" />
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3 class="h5">{{ item.product.title }}</h3>
          <p class="text-main m-0">Price : {{ item.price }}</p>
          <button (click)="deleteItem(item.product._id)" class="btn p-0 m-0">
            <i class="fa-regular fa-trash-can text-main"> </i>
            <span class="ps-1">Remove</span>
          </button>
        </div>
        <div>
          <button
            (click)="updateCounter(item.product._id, item.count - 1)"
            class="btn border border-success me-2"
          >
            -
          </button>
          <span>{{ item.count }}</span>
          <button
            (click)="updateCounter(item.product._id, item.count + 1)"
            class="btn border border-success ms-2"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="deleteCart()" class="w-100 btn-main">Clear Cart</button>
  <div class="d-flex my-2 gap-3">
    <button
      [routerLink]="['/checkout', cartDetails._id]"
      class="btn-main w-100"
    >
      Checkout
    </button>
  </div>
</section>
