<section class="bg-main-light p-4 rounded w-75 mx-auto my-3">
  <h1>Register Now</h1>
  <form action="" [formGroup]="registerForm" (ngSubmit)="handleForm()">
    <div class="mb-2">
      <label for="name">Name :</label>
      <input
        #inputName
        class="form-control"
        formControlName="name"
        type="text"
        id="name"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          registerForm.get('name')?.errors &&
          (registerForm.get('name')?.touched || inputName.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('name')?.getError('required')">
          Name is required
        </p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')">
          Name Min Length 3
        </p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')">
          Name Max Length 20
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="email">Email :</label>
      <input
        #inputEmail
        class="form-control"
        formControlName="email"
        type="email"
        id="email"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          registerForm.get('email')?.errors &&
          (registerForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('email')?.getError('required')">
          Email is Required
        </p>
        <p *ngIf="registerForm.get('email')?.getError('email')">
          email InValid Format
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="password">Password :</label>
      <input
        #inputPassword
        class="form-control"
        formControlName="password"
        type="password"
        id="password"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          registerForm.get('password')?.errors &&
          (registerForm.get('password')?.touched ||
            inputPassword.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('password')?.getError('required')">
          Password is Required
        </p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">
          Password must start with upperCase then from 6 to 10
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="rePassword">Re-Password</label>
      <input
        #inputRePassword
        class="form-control"
        formControlName="rePassword"
        type="password"
        id="rePassword"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          (registerForm.get('rePassword')?.touched ||
            inputRePassword.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('rePassword')?.getError('required')">
          rePassword is Required
        </p>
        <p *ngIf="registerForm.get('rePassword')?.getError('missMatch')">
          Re-Password doesn't match Password
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="phone">Phone :</label>
      <input
        #inputPhone
        class="form-control"
        formControlName="phone"
        type="tel"
        id="phone"
      />
      <div
        *ngIf="
          registerForm.get('phone')?.errors &&
          (registerForm.get('phone')?.touched || inputPhone.value.length > 0)
        "
        class="alert alert-danger mt-3"
      >
        <p *ngIf="registerForm.get('phone')?.getError('required')">
          Phone is Required
        </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern')">
          Accept only Egyptian phone numbers
        </p>
      </div>
    </div>
    <button [disabled]="registerForm.invalid" class="btn-main d-block ms-auto">
      Register
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
    </button>
    <p class="alert alert-danger mt-3" *ngIf="msgError">{{ msgError }}</p>
  </form>
</section>
