<section class="bg-main-light w-75 mx-auto rounded-3 p-3">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleForm()">
    <div class="d-flex align-items-center justify-content-center mb-3">
      <label class="me-2" for="email">Email : </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-control w-75"
        placeholder="Enter Your Email"
      />
    </div>
    <button type="submit" class="btn-main d-block ms-auto">Send Email</button>
  </form>
</section>
