<section>
  <h1 class="text-center my-4">All Categories</h1>
  <div class="row justify-content-center">
    <div class="col-md-3 my-3" *ngFor="let category of categories">
      <div class="product">
        <div
          (click)="categoryDetails(category._id, category.name)"
          class="p-2 cursor-pointer"
        >
          <img
            [src]="category.image"
            height="350"
            class="w-100"
            [alt]="category.name"
          />
          <h4 class="h6 text-center my-2 fw-bold text-main">
            {{ category.name }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
